.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    display: flex;
    align-self: flex-end;
}

.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
}
.generateButton{
    margin-right: 8 
}

@media screen and (max-width:768px){

    .editorContainer {
        display: block;
        flex-direction: column;
        margin-top:0px;
        align-self: center;
        width: 100%;
        height:100%;
    }
    .editor{
        flex:1;
    }
    
    .preview {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 4px;
        box-sizing: border-box;
        flex:1;
        align-content: center;
    }

}

@media screen and (min-width:768px){
    .editorContainer {
        display: flex;
        flex-direction: row;
        margin-top:0px;
        align-self: center;
        width: 70%;
        height:100%;
    }
    .editor{
        flex:1;
    }
    
    .preview {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 4px;
        box-sizing: border-box;
        flex:1;
        align-content: center;
    }
}
